#sky {
 background-color: rgb(151, 217, 255);
 width: 1500px;
 height: 700px;
}

#ball {
 background-color: crimson;
 border-radius: 50%;
 width: 100px;
 height: 100px;
}

hr {
 border: 5px solid rgb(58, 56, 56);
 width: 92px;
 margin: 0px;
}

#sky:hover #ball {
 animation-duration: 20s;
 animation-timing-function: linear;

 animation-name: falling;
 animation-iteration-count: 1;
}


@keyframes falling {

 10% {
  transform: translateX(90px);
 }

 20% {
  transform: translateX(90px) translateY(500px);
 }

 30% {
  transform: translateX(300px);
 }

 40% {
  transform: translateY(-80px) translateX(300px) ; 
 }
}